body{
    margin: 0;
    padding: 0;
    background-color: #363543;
    width: 100%;
}
.first-main-container{
    /* background-color: #363543; */
}
.mcontainer{
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 139px;
}
.fcontainer{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    color: white;
    font-size: 30px;
    /* padding-left: 200 px;
    margin-right: 50px; */
}
.scontainer{
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 15px;
    color: white;
    margin-left: -328px;
    /* padding-left: 152px; */
    /* padding: 80px; */
    /* justify-content: center; */

}
.tcontainer{
    display: flex;
    margin-right: 70px;
    justify-content: space-around;
    width: 10%;    
    /* align-items: last baseline; */
}
.second-container{
    color: white;
    margin-top: 90px;
    padding-left: 152px;
}
.im{
    font-size: 40px;
}
.shahid{
    margin-top: 20px;
    font-size: 60px;
}
.underline{
    /* border-bottom: 2px solid yellow; */
    margin-top: 15px;
    height: 5px;
    width: 245px;
    background-color: yellow;
}
.experiance{
    margin-top: 45px;
    font-size: 15px;
}
.round-color{
    background-color: orange;
    width: 400px;
    height: 400px;
    border-radius: 360%;

}
.picture{
    /* border: 2px solid; */
    justify-content: center;
    background-color: #292933;
    width: 400px;
    height: 400px;
    border-radius: 360%;
    align-items: center;
    position: absolute;
    right: 585px;
    top: 155px;
    position: absolute;
    z-index: -1;
}
.pic{
    position: absolute;
    right: 48px;
    top: -42px;
    width: 300px;
    height: 450px;
}
.third-container{
    color: white;
    position: absolute;
    right: 422px;
    top: 163px;
    /* font-size: 20px; */
}
    .oservice{
        font-size: 15px;
    }
    .service{
        font-size: 20px;
    }
    .show{
        color: yellow;
        margin-top: 16px;
    }

/* .four-container{ */
    /* color: white; */
    /* display: flex; */
    /* position: absolute; */
    /* right: 683px; */
    /* top: 265px; */
    /* color: yellow; */
/* } */
.arrow{
    position: absolute;
    left: 81px;
    color: yellow;
    margin-top: -16px;
}
.logo{
    display: flex;
    margin-top: 17px;
}
/* .five-container{ */
/* display: flex; */
/* position: absolute; */
/* right: 614px; */
    /* top: 301px; */
/* } */
.four-container{
    display: flex;
    /* border: 0px solid; */
    background-color: #3d3c4b;
    height: 100px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* padding-top: 15px; */
    /* height: 100px; */
    margin: 0px auto;
}
/* .mcontainer{ */
    /* height: 10px; */
    /* width: 100px; */
    /* background-color: orange; */
    /* border: 2px solid; */
/* } */
.center-container{
    /* height: 100px; */
    background-color: #292933;
    padding: 15px 5px;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    display: flex;
    height: 30px;
    width: 20%;
    padding: 15px 5px;
}
.second-main-container{
    background-color: #292933;
    /* background-color: white; */
    color: white;
}
.smcontainer{
    font-size: 25px;
    font-weight: bolder;
    padding-left: 150px;
}
.smfcontainer{
    padding-left: 150px;
}
.twofifty{
    color: yellow;
}
.text{
    color: white;
}
.smscontainer{
    display: flex;
    padding-left: 150px;
    /* border: 2px solid; */
}
.hundred-text{
    color: yellow;
    margin-left: 85px;
}
.thirty{
    color: yellow;
}
.smtcontainer{
    padding-left: 150px;
    display: flex;
    /* border: 2px solid; */
}
.ten{
    color: yellow;
    margin-left: 106px;
}
.smfocontainer{
    display: flex;
    border: 2px solid;
    margin-left: 227px;
    margin-top: -216px;
}
.text-ui{
    font-size: 15px;
}
.htext{
    display: flex;
    justify-content: center;
    color: white;
} 
.uiux{
    height: 50px;
    width: 70px;
}
.front{
    height: 50px;
    width: 70px;
}
.mobile{
    height: 50px;
    width: 70px;
}
.text-ui{
    margin-top: 12px;
}
.zero{
    margin-left: -92px;
    margin-top: 30px;

}
.aero{
    color: yellow;
    margin-left: 100px;
    margin-top: 14px;
}
.line{
    color: gold;
    height: 5px;
    width: 24px;
}