body{
    background-color: brown;
}
.first-container{
    width: 100px;
    height: 100px;
    /* border: 2px solid; */
    display: flex;
    height: 45vh;
    /* justify-content: center; */
}
.name{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    margin: 10px;
}
.scontainer{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sitem{
    color: white;
    font-weight: bold;
    margin: 30px;
    position: relative;
    top: -320px;
    right: 80px;
    /* justify-content: center ; */
}
.tcontainer{
    /* border: 2px solid; */
    display: flex;
    /* align-items: end; */
}
.titem{
margin: 10px;
position: relative;
left: 1200px;
top: -400px;
}